/*
 * cBoiler Plate - Wordpress Plugin
 *
 * [Only loaded on Admin side]
 */

.cboiler-img {
    width: 40px;
    height: 40px;
}
.cboiler-title {
    vertical-align: super;
}
.cboiler-link {
    color: #0085ba;
}
.cboiler-link:hover {
    color: #0073aa;
}
.cboiler-form {
    margin: 0;
    outline: 0;
    color: #666;
    position: relative;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}
.cboiler-form header {
    display: block;
    padding: 8px 0;
    border-bottom: 1px dashed rgba(0,0,0,.2);
    background: #fff;
    font-size: 16px;
    font-weight: 300;
    color: #232323;
    margin: 10px 14px 0;
    font-size: 16px;
}
.cboiler-form *, .cboiler-form :after, .cboiler-form :before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}
.cboiler-form section {
    margin-bottom: 15px;
    position: relative;
}
.cboiler-form .checkbox i, .cboiler-form .input input, .cboiler-form .radio i, .cboiler-form .select select, .cboiler-form .textarea textarea, .cboiler-form .toggle i {
    border-color: #BDBDBD;
    transition: border-color .3s;
    -o-transition: border-color .3s;
    -ms-transition: border-color .3s;
    -moz-transition: border-color .3s;
    -webkit-transition: border-color .3s;
}

input[type=radio]:checked:before {
    margin: 5px;
}
input[type=checkbox]:checked:before {
    margin: -3px 0 0 -3px;
}
.cboiler-form .label {
    display: block;
    margin-bottom: 6px;
    line-height: 19px;
    font-weight: 400;
    font-size: 13px;
    color: #333;
    text-align: left;
    white-space: normal;
}
.cboiler-form .input input, .cboiler-form .select select, .cboiler-form .textarea textarea {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    line-height: 32px;
    padding: 5px 10px;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    background: #fff;
    font: 13px/16px 'Open Sans',Helvetica,Arial,sans-serif;
    color: #404040;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.cboiler-form .input input, .cboiler-form .select select {
    height: 32px;
}
.cboiler-box {
    float: left;
    width: 100%;
    position: relative;
    font-size: 13px;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
    border-width: 1px 1px 2px;
    border-style: solid;
    border-color: #CCC!important;
    overflow: visible;
    background-color: #fff!important;
}
.cboiler-form fieldset+fieldset {
    border-top: 1px solid rgba(0,0,0,.1);
}
.cboiler-form fieldset {
    display: block;
    padding: 25px 14px 5px;
    border: none;
    background: rgba(255,255,255,.9);
    position: relative;
}
/* Screen Size */
.cboiler-half {
    width: 50%;
    float: left;
}

@media screen and (max-width: 768px) {
    .cboiler-half {
        width: 100%;
    }    
}
/* Footer */
.cboiler-form footer {
    display: block;
    padding: 7px 14px 15px;
    border-top: 1px solid rgba(0,0,0,.1);
    background: rgba(248,248,248,.9);
    height: 50px;
}
.cboiler-form footer .btn {
    float: right;
    height: 31px;
    margin: 10px 0 0 5px;
    padding: 0 22px;
    font: 300 15px/29px 'Open Sans',Helvetica,Arial,sans-serif;
    cursor: pointer;
}
/* Buttons */
.cboiler-form .btn {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.cboiler-form .btn {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
}
.cboiler-form .btn, a:link, button {
    -webkit-tap-highlight-color: rgba(169,3,41,.5);
}

.cboiler-form .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cboiler-form .btn {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.cboiler-form .btn-green {
    color: #fff;
    background-color: #72a94e;
    border-color: #69924E;
}
.cboiler-form .btn-green:hover {
    color: #fff;
    background-color: #5B7B45;
    border-color: #5B7B45;
}

.cboiler-form .btn-blue {
    color: #fff;
    background-color: #0085ba;
    border-color: #0073aa;
}
.cboiler-form .btn-blue:hover {
    color: #fff;
    background-color: #0073aa;
    border-color: #0073aa;
}

.cboiler-form .btn-red {
    color: #fff;
    background-color: #D54E21;
    border-color: #A54728;
}
.cboiler-form .btn-red:hover {
    color: #fff;
    background-color: #A54728;
    border-color: #A54728;
}
.cboiler-box .note, .cboiler-form .note {
    margin-top: 6px;
    padding: 0 1px;
    font-size: 11px;
    line-height: 15px;
    color: #999;
}

/* Alert */
.cboiler-alert {
    margin: 10px;
    color: #675100;
    border-width: 0;
    border-left-width: 5px;
    padding: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-left: 5px solid transparent;
}
.cboiler-alert-warning {
    border-color: #dfb56c;
    color: #826430;
    background-color: #efe1b3;
}
.cboiler-alert-success {
    border-color: #8ac38b;
    color: #356635;
    background-color: #cde0c4;
}
.cboiler-alert-info {
    border-color: #9cb4c5;
    color: #305d8c;
    background-color: #d6dde7;
}
.cboiler-alert-error {
    border-color: #953b39;
    color: #fff;
    background-color: #c26565;
    text-shadow: none;
}
.cboiler-alert .cboiler-close {
    top: 0;
    right: -5px;
    line-height: 20px;
}
button.cboiler-close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}
.cboiler-close {
    float: right;
    font-size: 19.5px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

.cboiler-alert-wp-warning {border-left-color: #E6FF00!important;}
.cboiler-alert-wp-success {border-left-color: #46b450!important;}
.cboiler-alert-wp-info {border-left-color: #1360D0!important;}
.cboiler-alert-wp-error {border-left-color: #EF1E1A!important;}